@import "../../assets/styles/setup/setup";

.dashboard__chart {
  width: 100%;
  height: 100%;
}

.dashboard__small__chart {
  width: 100%;
  height: 300px;
}

.dashboard__big__chart {
  width: 100%;
  height: 450px;
}

.dashboard__container {
  @media screen and (max-width: $normal-breakpoint) {
    flex-direction: column;
    & > * {
      flex-basis: 100%;
    }
    .dashboard__chart {
      height: auto;
    }
  }
}
