.text__filed {
  .MuiInputBase-root.MuiOutlinedInput-root:has(input),
  .MuiInputBase-root.MuiOutlinedInput-root:has(textarea) {
    border-color: $black !important;
    &.Mui-focused {
      fieldset {
        border-color: $black !important;
      }
    }
    &.Mui-error {
      input {
        color: $error !important;
      }
      &.Mui-focused {
        fieldset {
          border-color: $error !important;
        }
      }
    }
  }
  .MuiInputLabel-shrink.Mui-focused {
    color: $black !important;
  }
}

.button {
  text-transform: capitalize !important;
  padding-block: 10px !important;
  border-radius: 20px !important;
  margin-top: 10px !important;
  &:disabled {
    background-color: #e0e0e0 !important;
    color: rgba(0, 0, 0, 0.26) !important;
    border: none !important;
  }
  &:hover {
    border: 1px solid $black;
    background-color: $silver_mist;
  }
  border: 1px solid rgba($black, 0.5) !important;
  color: $black !important;

  &.contained {
    &:hover {
      border: 1px solid $black;
      background-color: $silver_mist;
      color: $black !important;
    }
    background-color: $black;
    border: 1px solid rgba($black, 0.5) !important;
    color: $white !important;
  }
  &.square {
    border-radius: 4px !important;
    padding: 6px 16px !important;
    margin-top: 0px !important;
  }
  &.MuiLoadingButton-loading {
    color: transparent !important;
  }
}
