@import "../../../assets/styles/setup/setup";

.main_article_container {
  position: relative;
  h4,
  h2 {
    margin: 0;
  }
}

.sections__paper {
  display: flex;
  flex-direction: column;
  margin-block: 30px;
  gap: 10px;
  padding: 20px 15px;
}

.add_section {
  margin-top: 20px;
}

.references_paper {
  padding: 15px 20px;
  padding-bottom: 30px;
}

.headerLine {
  margin-bottom: 10px;
  h4:last-child,
  h3:last-child,
  h2:last-child {
    margin-block: 11px;
  }
}

.dinosaur_profile {
  padding-inline: 30px;
  flex-basis: 40%;
  overflow-y: scroll;
  max-height: 80vh;
}

.dinosaur_profile_header {
  margin-bottom: 30px;
  h3 {
    margin: 0;
  }
}

.dinosaur_profile__container {
  margin-top: 40px;
}

.dinosaur_profile_image_container {
  width: 200px;
  height: 200px;
  img {
    object-fit: contain;
    display: block;
    height: 100%;
    width: 100%;
  }
}

.accordion__summary__container {
  @media screen and (max-width: $mobile-breakpoint) {
    flex-direction: column;
  }
}
