// Colors
$forest_green: #2e8b57;
$olive_brown: #6b8e23;
$deep_moss_green: #789264;
$warm_sand: #f5deb3;
$sunset_orange: #ff5733;
$sky_blue: #87ceeb;
$deep_green: #006400;
$golden_brown: #daa520;
$mossy_green: #3e6151;
$black: #000000;
$white: #ffffff;
$Shadow_slate: #03030321;
$frosted_silver: rgba(240, 240, 240, 0.3);
$midnight_veil: rgba(3, 3, 3, 0.1);
$silver_mist: rgba(133, 133, 133, 0.2);
$coral_burst: #ff6d75;
$slate_gray: #858585;
$soft_pearl: #e5e5e5;
$crimson_ember: #ca4f3f;
$mossy_meadow: #568f40;
$azure_breeze: #41a1d6;
$golden_tangerine: #faaf00;
$error: #d32f2f;
$whispering_rose: #fdeded;
$baby_pink: #fecaca;
$burgundy: #a83535;
$baby_blue: #c5d5f8;
$ultramarine: #414cae;
$soft_mint: #a6f2d9;
$evergreen: #1b7256;
$mist_gray: rgba(224, 224, 224, 1);
$frost: #f9fafc;
$ash_gray: rgb(125, 125, 125);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
