@import "../../assets/styles/setup/setup";

.mail__page__main__container {
  padding: 10px;
}

.mail__page__container {
  padding: 20px;
  padding-top: 10px;
}

.mail__page__subject {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.mail__page__details {
  font-size: 14px;
  margin-bottom: 20px;
}
