// Setup
@import "./assets/styles/setup/setup";

// Basics
@import "./assets/styles/basics/helpers";
@import "./assets/styles/basics/layout";
@import "./assets/styles/basics/base";
@import "./assets/styles/basics/links";
@import "./assets/styles/basics/forms";

.MuiChip-root.permission__chip {
  border-radius: 5px;
  width: 90px;
}

.MuiChip-root.admin {
  background-color: #fecaca;
  color: #a83535;
}

.MuiChip-root.employee {
  background-color: #c5d5f8;
  color: #414cae;
}

.MuiChip-root.member {
  background-color: #a6f2d9;
  color: #1b7256;
}

.MuiTableRow-root:last-child td {
  border-bottom: 1px solid rgba(224, 224, 224, 1) !important;
}
.MuiToolbar-root {
  p {
    margin: 0;
  }
}
